<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
	<link rel="stylesheet" th:href="@{/login.css}" href="/login.css">
</head>

<body>

<div class="login-area">

    <div class="system-title">物品売上管理システム</div>

    <form th:action="@{/login}" th:object="${loginForm}" method="post">

        <!-- メールアドレス -->

        <input type="text" th:field="*{mail}" class="input-box" placeholder="メールアドレス">
        <div class="error"th:errors="*{mail}"></div>

        <!-- パスワード -->

        <input type="password" th:field="*{password}" class="input-box" placeholder="パスワード">
        <div class="error" th:errors="*{password}"></div>

        <!-- ログイン失敗 -->

        <div class="error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
        <button type="submit" class="login-button">ログイン</button>

    </form>

</div>

</body>
</html>